:root {
  --color-text: #ffffff;
  --color-special: #00b982;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.75rem;
  background: var(--color-special);
  color: var(--color-text);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-special);
  padding: 1.2rem;
}

.header a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--color-text);
}

.header a img {
  width: 12%;
  height: auto;
  margin-left: 1rem;
}

.main {
  text-align: center;
  padding: 2.5rem;
}

.search h1 {
  margin-bottom: 2rem;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-form input {
  font-size: 2rem;
  padding: 0.5rem;
  width: 40%;
  border: none;
  border: 2px solid var(--color-special);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem 0rem;
  width: 80%;
  margin: auto;
  row-gap: 3rem;
  column-gap: 3rem;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  padding: 1rem 3rem;
}
